In [17]:
import pandas as pd
df = pd.read_csv("C:\\Users\\ibrah\\Python\\audible_uncleaned\\audible_uncleaned.csv")

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

In [14]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00

In [15]:
df.count()

name           87489
author         87489
narrator       87489
time           87489
releasedate    87489
language       87489
stars          87489
price          87489
dtype: int64

In [18]:
#1.	Which columns have the wrong data type (e.g., time and releasedate as strings) and which should be converted?
df['price'] = (df['price'].str.replace(r'[\$,]', '', regex=True).replace('', pd.NA).pipe(pd.to_numeric, errors='coerce'))
df['releasedate'] = pd.to_datetime(df['releasedate'], errors='coerce')
df.info()
df.head()

C:\Users\ibrah\AppData\Local\Temp\ipykernel_16412\973198191.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['releasedate'] = pd.to_datetime(df['releasedate'], errors='coerce')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  datetime64[ns]
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87151 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 5.3+ MB

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.0
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.0
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410.0
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615.0
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0

In [21]:
#2.	Are there any rows or columns that are entirely empty or nearly empty — should any be dropped?
df.isna().sum()

name             0
author           0
narrator         0
time             0
releasedate      0
language         0
stars            0
price          338
dtype: int64

In [22]:
#3.	Are column names consistent (lowercase, underscores)? Should you rename releasedate → release_date, stars → rating_text, etc.?
df = df.rename(columns={
    "releasedate": "release_date",
    "stars": "rating_text",
})

In [23]:
df.head()

,name,author,narrator,time,release_date,language,rating_text,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.0
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.0
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410.0
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615.0
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0

In [24]:
#4.	How can you remove the prefixes Writtenby: and Narratedby: from author and narrator and store only the names?
df['author'] = df['author'].str.replace(r'^Writtenby:\s*', '', regex=True)
df['narrator'] = df['narrator'].str.replace(r'^Narratedby:\s*', '', regex=True)
df.head()

,name,author,narrator,time,release_date,language,rating_text,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.0
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.0
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410.0
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615.0
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0

In [27]:
#5.	Can you split name into parts (e.g., series name vs. book numbers, or title vs subtitle) where appropriate?
df[['title', 'subtitle']] = df['name'].str.split(':', n=1, expand=True)
df.head()

,name,author,narrator,time,release_date,language,rating_text,price,title,subtitle
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.0,Geronimo Stilton #11 & #12,None
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.0,The Burning Maze,None
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410.0,The Deep End,None
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615.0,Daughter of the Deep,None
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0,The Lightning Thief,"Percy Jackson, Book 1"

In [28]:
#6.	How can you parse time into consistent numeric fields like duration_minutes (or duration_hours + duration_minutes)?
df['hours'] = df['time'].str.extract(r'(\d+)\s*hrs?').fillna(0).astype(int)
df['minutes'] = df['time'].str.extract(r'(\d+)\s*mins?').fillna(0).astype(int)
df.head()

,name,author,narrator,time,release_date,language,rating_text,price,title,subtitle,hours,minutes
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.0,Geronimo Stilton #11 & #12,None,2,20
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.0,The Burning Maze,None,13,8
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410.0,The Deep End,None,2,3
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615.0,Daughter of the Deep,None,11,16
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0,The Lightning Thief,"Percy Jackson, Book 1",10,0

In [35]:
#7.	How can you parse stars to extract a numeric rating (e.g., 4.5) and the number of ratings (e.g., 34)? What about when spacing or words are missing?
# Extract numeric rating
df['rating_count'] = (df['rating_text'].str.extract(r'([\d,]+)\s*(?=ratings\b)', expand=False).str.replace(',', '', regex=False).astype('Int64'))

# Extract number of ratings
df['rating'] = (df['rating_text'].astype('string').str.extract(r'(\d+(?:\.\d+)?)', expand=False).astype(float))
df.head()

,name,author,narrator,time,release_date,language,rating_text,price,title,subtitle,hours,minutes,rating,rating_count
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.0,Geronimo Stilton #11 & #12,None,2,20,5.0,34
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.0,The Burning Maze,None,13,8,4.5,41
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410.0,The Deep End,None,2,3,4.5,38
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615.0,Daughter of the Deep,None,11,16,4.5,12
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0,The Lightning Thief,"Percy Jackson, Book 1",10,0,4.5,181

In [37]:
#8.	Are releasedate values in a consistent format (mm/dd/yyyy vs dd/mm/yyyy)? How can you programmatically detect the format and convert to datetime64[ns]?
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
df.head()

,name,author,narrator,time,release_date,language,rating_text,price,title,subtitle,hours,minutes,rating,rating_count
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.0,Geronimo Stilton #11 & #12,None,2,20,5.0,34
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.0,The Burning Maze,None,13,8,4.5,41
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410.0,The Deep End,None,2,3,4.5,38
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615.0,Daughter of the Deep,None,11,16,4.5,12
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0,The Lightning Thief,"Percy Jackson, Book 1",10,0,4.5,181

In [38]:
#9.	After converting, can you extract useful features like release_year, release_month, release_day, or release_weekday?
df['release_year'] = df['release_date'].dt.year
df['release_month'] = df['release_date'].dt.month
df['release_day'] = df['release_date'].dt.day
df['release_weekday'] = df['release_date'].dt.dayofweek
df.head(2)

,name,author,narrator,time,release_date,language,rating_text,price,title,subtitle,hours,minutes,rating,rating_count,release_year,release_month,release_day,release_weekday
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.0,Geronimo Stilton #11 & #12,None,2,20,5.0,34,2008,4,8,1
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.0,The Burning Maze,None,13,8,4.5,41,2018,1,5,4

In [39]:
#10.	Are there impossible or invalid dates (e.g., month > 12 if format misinterpreted)? How will you detect and fix them?
df['release_date'].isna().sum()

np.int64(0)

In [41]:
#11.	Which values should be considered "missing" (e.g., "", "NA", "None", "-", "n/a") and how will you standardize them to np.nan?
import numpy as np

missing_vals = ["", "NA", "None", "-", "n/a", "N/A"]
df = df.replace(missing_vals, np.nan)

In [47]:
#12.	For each column, how many missing values exist and are there patterns (missing by author, by year, etc.)?
report = pd.DataFrame({
    'dtype': df.dtypes.astype(str),        # data type of each column
    'n_missing': df.isna().sum(),          # number of missing values
    'pct_missing': df.isna().mean()*100,   # percentage missing
    'n_unique': df.nunique(dropna=False)   # how many unique values
}).sort_values('pct_missing', ascending=False)

print(report)
# Missing price by release year (%)
abc = df.groupby('release_year')['price'].apply(lambda x: x.isna().mean()*100).sort_values(ascending=False).head(10)
# Missing price by author (%)
defg = df.groupby('author')['price'].apply(lambda x: x.isna().mean()*100).sort_values(ascending=False).head(10)
print(abc)
print(defg)

                          dtype  n_missing  pct_missing  n_unique
subtitle                 object      83286    95.195967      3730
rating_count              Int64      78239    89.427242       384
rating                  float64      72417    82.772691        10
price                   float64        338     0.386334      1011
title                    object          1     0.001143     81253
name                     object          0     0.000000     82767
author                   object          0     0.000000     48374
release_date     datetime64[ns]          0     0.000000      5058
language                 object          0     0.000000        36
narrator                 object          0     0.000000     29717
rating_text              object          0     0.000000       665
time                     object          0     0.000000      2284
minutes                   int64          0     0.000000        60
hours                     int64          0     0.000000        88
release_year              int32          0     0.000000        28
release_month             int32          0     0.000000        12
release_day               int32          0     0.000000        31
release_weekday           int32          0     0.000000         7
release_year
2011    3.065884
2012    1.462905
2021    0.488509
2017    0.436395
2022    0.375469
2019    0.337919
2020    0.249100
2018    0.248647
2006    0.151286
2010    0.144509
Name: price, dtype: float64
author
FranckBondoux                 100.0
ArvindParashar                100.0
AdamSavage                    100.0
SarabJitSingh                 100.0
SaratChandraChattopadhyay     100.0
ChatursenShastri              100.0
EvaLiaReinegger               100.0
BhaavnaArora                  100.0
BankimChandraChatterjee       100.0
BankimChandraChattopadhyay    100.0
Name: price, dtype: float64

In [53]:
#13.	For columns with missing values, which imputation strategy is appropriate (leave as missing, fill with mode/median, forward/backfill, or domain default)?
df['price'] = df['price'].fillna(df['price'].median())
df = df.dropna(subset=['title'])
df = df.drop(columns=['subtitle', 'rating', 'rating_count'])
df.head()

,name,author,narrator,time,release_date,language,rating_text,price,title,hours,minutes,release_year,release_month,release_day,release_weekday
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-04-08,English,5 out of 5 stars34 ratings,468.0,Geronimo Stilton #11 & #12,2,20,2008,4,8,1
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-01-05,English,4.5 out of 5 stars41 ratings,820.0,The Burning Maze,13,8,2018,1,5,4
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,2020-06-11,English,4.5 out of 5 stars38 ratings,410.0,The Deep End,2,3,2020,6,11,3
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,2021-05-10,English,4.5 out of 5 stars12 ratings,615.0,Daughter of the Deep,11,16,2021,5,10,0
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0,The Lightning Thief,10,0,2010,1,13,2

In [54]:
#14.	Are there leading/trailing spaces or extra internal whitespace in any text fields? How will you trim them?
df['author'] = df['author'].str.strip().str.replace(r'\s+', ' ', regex=True)

In [55]:
#15.	Does casing matter? Should you standardize language, author, and narrator to title case or lowercase?
df['language'] = df['language'].str.lower()
df['author'] = df['author'].str.lower()
df['narrator'] = df['narrator'].str.lower()
df['title'] = df['title'].str.lower()

In [56]:
#16.	Are there punctuation or special characters to remove (e.g., stray colons, HTML entities)?
df['author'] = df['author'].str.replace(r"[^\w\s]", "", regex=True)

In [57]:
#17.	Do you need to correct common misspellings or inconsistent variants (e.g., Englis, english, ENGLISH)?
df['language'] = df['language'].replace({
    'englis': 'english',
    'ENGLISH': 'english',
    'Englsh': 'english'
})

In [58]:
df.head()

,name,author,narrator,time,release_date,language,rating_text,price,title,hours,minutes,release_year,release_month,release_day,release_weekday
0,Geronimo Stilton #11 & #12,geronimostilton,billlobely,2 hrs and 20 mins,2008-04-08,english,5 out of 5 stars34 ratings,468.0,geronimo stilton #11 & #12,2,20,2008,4,8,1
1,The Burning Maze,rickriordan,robbiedaymond,13 hrs and 8 mins,2018-01-05,english,4.5 out of 5 stars41 ratings,820.0,the burning maze,13,8,2018,1,5,4
2,The Deep End,jeffkinney,danrussell,2 hrs and 3 mins,2020-06-11,english,4.5 out of 5 stars38 ratings,410.0,the deep end,2,3,2020,6,11,3
3,Daughter of the Deep,rickriordan,soneelanankani,11 hrs and 16 mins,2021-05-10,english,4.5 out of 5 stars12 ratings,615.0,daughter of the deep,11,16,2021,5,10,0
4,"The Lightning Thief: Percy Jackson, Book 1",rickriordan,jessebernstein,10 hrs,2010-01-13,english,4.5 out of 5 stars181 ratings,820.0,the lightning thief,10,0,2010,1,13,2

In [62]:
#18.	Is price stored as numeric or string? If string, how will you strip currency symbols and thousands separators then convert to float?
df['price'] = (df['price'].astype('string').str.replace(r'[\$,]', '', regex=True).replace('', pd.NA).pipe(pd.to_numeric, errors='coerce'))

In [64]:
#19.	Are there non-numeric characters in numeric fields (e.g., ,, $, %)? How will you remove them safely?
#df['rating_count'] = (df['rating_count'].astype('string').str.replace(r'[^\d]', '', regex=True).replace('', pd.NA).astype('Int64'))

In [66]:
#20.	After extracting rating (numeric) and rating_count (integer), are there any non-numeric or malformed values to handle?
df['rating_text'].value_counts(dropna=False)
df.head()

,name,author,narrator,time,release_date,language,rating_text,price,title,hours,minutes,release_year,release_month,release_day,release_weekday
0,Geronimo Stilton #11 & #12,geronimostilton,billlobely,2 hrs and 20 mins,2008-04-08,english,5 out of 5 stars34 ratings,468.0,geronimo stilton #11 & #12,2,20,2008,4,8,1
1,The Burning Maze,rickriordan,robbiedaymond,13 hrs and 8 mins,2018-01-05,english,4.5 out of 5 stars41 ratings,820.0,the burning maze,13,8,2018,1,5,4
2,The Deep End,jeffkinney,danrussell,2 hrs and 3 mins,2020-06-11,english,4.5 out of 5 stars38 ratings,410.0,the deep end,2,3,2020,6,11,3
3,Daughter of the Deep,rickriordan,soneelanankani,11 hrs and 16 mins,2021-05-10,english,4.5 out of 5 stars12 ratings,615.0,daughter of the deep,11,16,2021,5,10,0
4,"The Lightning Thief: Percy Jackson, Book 1",rickriordan,jessebernstein,10 hrs,2010-01-13,english,4.5 out of 5 stars181 ratings,820.0,the lightning thief,10,0,2010,1,13,2

In [68]:
#21.	Should author and narrator names be normalized to a consistent format (e.g., First Last)? How to handle initials, middle names, etc.?
df['author'] = df['author'].str.strip().str.title()
df['narrator'] = df['narrator'].str.strip().str.title()
df['author'] = df['author'].str.replace(r'\s+', ' ', regex=True)   # collapse spaces
df['author'] = df['author'].str.replace(r'\.\s*', '.', regex=True) # fix periods
df['author'] = df['author'].str.replace(',', '', regex=False)
print("Unique authors:", df['author'].nunique())
print("Unique narrators:", df['narrator'].nunique())
df.head()

Unique authors: 48172
Unique narrators: 29668

,name,author,narrator,time,release_date,language,rating_text,price,title,hours,minutes,release_year,release_month,release_day,release_weekday
0,Geronimo Stilton #11 & #12,Geronimostilton,Billlobely,2 hrs and 20 mins,2008-04-08,english,5 out of 5 stars34 ratings,468.0,geronimo stilton #11 & #12,2,20,2008,4,8,1
1,The Burning Maze,Rickriordan,Robbiedaymond,13 hrs and 8 mins,2018-01-05,english,4.5 out of 5 stars41 ratings,820.0,the burning maze,13,8,2018,1,5,4
2,The Deep End,Jeffkinney,Danrussell,2 hrs and 3 mins,2020-06-11,english,4.5 out of 5 stars38 ratings,410.0,the deep end,2,3,2020,6,11,3
3,Daughter of the Deep,Rickriordan,Soneelanankani,11 hrs and 16 mins,2021-05-10,english,4.5 out of 5 stars12 ratings,615.0,daughter of the deep,11,16,2021,5,10,0
4,"The Lightning Thief: Percy Jackson, Book 1",Rickriordan,Jessebernstein,10 hrs,2010-01-13,english,4.5 out of 5 stars181 ratings,820.0,the lightning thief,10,0,2010,1,13,2

In [71]:
#23.	Are there exact duplicate rows — how many and which ones should be removed?
df.duplicated().sum()
df[df.duplicated()]
df = df.drop_duplicates()

In [72]:
#24.	Are there near-duplicates (same title + author but slightly different punctuation or whitespace)? How will you detect and consolidate them?
df[df.duplicated(subset=['title','author'])]

,name,author,narrator,time,release_date,language,rating_text,price,title,hours,minutes,release_year,release_month,release_day,release_weekday
12,Magic Tree House Collection: Books 1-8,Marypopeosborne,Marypopeosborne,6 hrs and 1 min,2011-09-27,english,5 out of 5 stars7 ratings,1206.0,magic tree house collection,6,1,2011,9,27,1
16,Magic Tree House Collection,Marypopeosborne,Marypopeosborne,5 hrs and 4 mins,2004-12-26,english,5 out of 5 stars7 ratings,1206.0,magic tree house collection,5,4,2004,12,26,6
18,Merlin Mission Collection,Marypopeosborne,Marypopeosborne,10 hrs and 18 mins,2017-02-05,english,5 out of 5 stars11 ratings,1256.0,merlin mission collection,10,18,2017,2,5,6
26,Magic Tree House Collection: Books 25-32,Marypopeosborne,Marypopeosborne,7 hrs and 9 mins,2020-01-09,english,5 out of 5 stars3 ratings,1256.0,magic tree house collection,7,9,2020,1,9,3
46,"The Lightning Thief: Percy Jackson, Book 1",Rickriordan,Walterlewis,3 hrs and 51 mins,2010-01-13,english,4 out of 5 stars4 ratings,615.0,the lightning thief,3,51,2010,1,13,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87258,Tee and Tour,Teetour,Kevinyoung,1 hr and 49 mins,2004-06-30,english,Not rated yet,585.0,tee and tour,1,49,2004,6,30,2
87347,The Great Psychedelic Armadillo Picnic,Kinkyfriedman,Kinkyfriedman,2 hrs and 14 mins,2004-08-10,english,Not rated yet,500.0,the great psychedelic armadillo picnic,2,14,2004,8,10,1
87443,Travels with a Donkey in the Cevennes,Robertlouisstevenson,Denislawson,2 hrs and 51 mins,2008-05-13,english,Not rated yet,569.0,travels with a donkey in the cevennes,2,51,2008,5,13,1
87479,Dear Bob and Sue,Mattsmithkarensmith,"Davidcolacci,Susanericksen",14 hrs and 48 mins,2017-12-26,english,Not rated yet,1055.0,dear bob and sue,14,48,2017,12,26,1
87486,The Innocents Abroad,Marktwain,Flogibson,19 hrs and 4 mins,2016-12-30,english,Not rated yet,938.0,the innocents abroad,19,4,2016,12,30,4